@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap');

.center-x{
    margin: 0 auto;
}

*{
    font-family: 'Baloo Tammudu 2', cursive;
}

/**/

body{
    background-color: rgb(34, 155, 146);
    padding-top: 10px;
    padding-bottom: 16px;
}

.wrapper{
    width: 85%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.container{
    padding: 60px;
}

.select-buttons{
    padding: 30px;
    border-radius: 15px;
    font-size: 40px;
    color: white;
    background-color: rgb(190,190,190);
    transition: .3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.plus:hover{
    background-color: rgb(37, 148, 50);
}

.minus:hover{
    background-color: rgb(44, 132, 191);
}

.multiply:hover{
    background-color: rgb(255, 81, 69);
}

.divide:hover{
    background-color: rgb(165, 74, 240);
}

