.center-x{
    margin: 0 auto;
}

body{
    background:url(intento13.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 15px 0 15px 0;

}

.wrapper{
/*     background: rgba(34, 155, 146,.64); */
    background: rgba(200, 247, 244,.64);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

    width: 40%;
    padding: 30px 50px;
    border-radius:15px;
    font-family: 'calibri';
    color: rgb(34, 155, 146);
    box-shadow:4px 3px 20px rgba(30,30,30,.44);

}

.reg001 img{
    width: 105px;
}

/*
.campos{
width:75%;
background: rgba(255,255,255,.94);
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border:1px solid #1f53c5;
font-family: 'calibri';
color: white;
}
*/

.cuadrados p{
    height: 24px;
    text-align: left;
    font-size:18px;
    line-height: 40px;
}

.cuadrados a{
    color: white;
    text-decoration: underline;
}

.boton{
    width: 100%;
    background: rgb(16, 161, 127);
    border: none;
    padding: 14px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.seleccion{
    width: 100%;
    color: #060606;
    margin: 16px 0;
}

