*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}
body{background:url(inicio4.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;

}
.cuadrado1
{
	width: 35%;
	background:#229B92;
	padding:30px;
	margin-top:5%;
	margin:auto;
	margin-bottom:10%;
	border-radius:4px;
	font-family: 'calibri';
	color: white;
	box-shadow:7px 13px 37px #060606;
}
.cuadrado1 h1{
	font-size:100%;
	margin-bottom: 20px;
}
.campos{
	width:100%;
	background: #60C7C1;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border:1px solid #1f53c5;
	font-family: 'calibri';
	color: white;
}
.cuadrado1 p{
	height: 24px;
	text-align: left;
	font-size:18px;
	line-height: 40px;
}
.cuadrado1 a{
	color: white;
	text-decoration: underline;
}
.boton{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 14px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}
.seleccion{
	width: 100%;
	color: #060606;
	margin: 16px 0;
}

