body {
	font-family: georgia;
	color:#333;
	font-size: 1.4rem;
	line-height: 1.3em;
	
}

h2{
	font-size: 2rem;
	line-height: 1.3em;

}
p
{
	margin-botton:1.6em.;
}
.container{
	width: : 85%
	max-width:850px;
	margin: 0 auto;
}
.header{
	background: #333;
	color:white;
}

    