*{
	margin: 0;
	padding: 10;
	box-sizing: border-box;
	text-align: center;
}
body{
	background: #2980B9;  
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
}
.contenedor{

}

div.contenedor table {
margin: 0 auto;
text-align: center;
border-radius: 10px;

}
.button{
	background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 15px;
cursor: pointer;

}

